body{
  font-family: Arial,Helvactica,Sans-Serif;
  background-color:#f4f4f4;
  margin:0;
  padding:0;
}
h1 {
	color: #222;
	text-align:center;
}
p{
  text-align:center;
  color:#555;
}
.container{
  width:80%;
  margin:auto;
  background:white;
  padding:20px;
  margin-top:30px;
  border-radius:8px;
}
h2{
  color:#333;
  border-bottom:2px solid #ddd;
  
}
section{
  margin-top:30px;
  padding: 15px;
  background:#fafafa;
  border-left: 4px solid #000;
  
}
